<head>
	<meta name="generator" content="Hugo 0.92.2" /> 
    
    
    <meta http-equiv="refresh" content="0; URL=https://flo8986.gitlab.io/portfolio/portfolio/" />
    
    
    
    
    
    
  </head>